.items{
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}

.title{
    background: #262626;
    color:white;
    margin: -0.5rem;
    padding: 25px;
}

.item-above{
    max-width: 25%;
    order: 1;
    background: #f8f8f8;
    border: 3px solid #eaeaea;
    flex-grow: 1;
    margin: 2rem;
    padding: 2rem;
    justify-content: space-evenly;
}

.item-below
{
    width: 92%;
    order: 1;
    background: #f8f8f8;
    border: 3px solid #eaeaea;
    flex-grow: 0;
    margin: 2rem;
    padding: 2rem;
    justify-content: space-evenly;
}

.button
{
    background: #40c800;
    color: black;
    border:none;
    padding: 10px 16px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.combobox
{
    background: #40c800;
    color: black;
    float: right;
    border:none;
    padding: 2px 8px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.text-item {
    display: flex;
}
.text-item-right {
    margin-left: auto;
}